* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(239, 246, 249) 0%,
    rgb(206, 239, 253) 90%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
h1 {
  padding: 1rem;
  border-radius: 1rem;
}
.container {
  border-radius: 0.5rem;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.symbolContainer {
  background-color: rgb(141, 146, 239);
  width: 90px;
  height: 90px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 1s;
}

.symbol {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visiblity 1s;
}

.activeSymbolContainer {
  transform: rotateY(-180deg);
  transition: all 1s ease-in-out;
  background-color: #00308f;
}

.activeSymbol {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visiblity 1s;
}
.attemptDiv {
  display: flex;
  gap: 20px;
  font-size: 30px;
  font-weight: bold;

  padding: 1rem;
  border-radius: 1rem;
}

.btn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

@media screen and (max-width: 425px) {
  .symbolContainer {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 320px) {
  .symbolContainer {
    width: 60px;
    height: 60px;
  }
}
